BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 110
IndentWidth: 2
TabWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
SpaceInEmptyParentheses: true
SpacesInCStyleCastParentheses: true
AllowShortFunctionsOnASingleLine: false
